#mapid { height: 280px; }

.toggleable-list {
    background: white; /* Set the overall background for the list */
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 140px; /* Adjust width if needed */
    display: inline-block;

}

.toggleable-list div {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    text-align: left; /* Ensure text is aligned to the left */
    
}

.center-button {
    background-color: #fbeee0;
    border: 1.5px solid #422800;
    border-radius: 15px;
    box-shadow: #422800 1.5px 1.5px 0 0;
    color: #422800;
    cursor: pointer;
    width: 15px;
    display: inline-block;
    font-weight: 750;
    font-size: 8px; /* Smaller font size */
    padding: 2px 3px; /* Smaller padding */
    line-height: 1; /* Adjust line height */
    text-align: center;
    touch-action: manipulation;
    margin-left: auto; /* Pushes the button to the right !! */
  }
  
  .center-button:hover {
    background-color: #fff;
  }
  
  .center-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  /*these 3 below are for the popups, titles are self explanatory - from leaflet documentation help */

  .custom .leaflet-popup {
    max-width: 500px; /* Adjust the maximum width */
    min-width: 100px; /* Adjust the minimum width */
    position: relative;
  }
  .custom .leaflet-popup-tip {
    display: none; /* hide the arrow */
  }
  .custom .leaflet-popup-content-wrapper {
      background: #c9dfff;
      color: #000000;
      position: relative;
  }
  
  .sidebar {
    width: 150px;             /* Set sidebar width */
    max-height: 80vh;         /* Max height relative to viewport */
    overflow-y: auto;         /* Enable vertical scrolling */
    background-color: white;  /* Optional styling */
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    font-family: sans-serif;
}

.restaurant-item {
    margin-bottom: 20px;
}
  

.restaurant-row {
  padding: 10px;
  margin-bottom: 4px;

  cursor: pointer;
  border-radius: 6px;

  font-size: 14px;
  background-color: white;
}

.restaurant-row:hover {
  background-color: #f2f2f2;
}


